
body {
  margin: 0;
  font-family: var(--font-kemco);
  background-color: var(--biru1);
  color: var(--putih);
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  background-color: var(--biru2);
  padding: 20px;
  border: 5px double var(--kuning);
  border-radius: 10px;
}

.tabs {
  margin-top: 20px;
}

.tabs input[type="radio"] {
  display: none;
}

.tab-labels {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-labels label {
  padding: 10px 20px;
  background-color: var(--biru3);
  color: var(--putih);
  cursor: pointer;
  font-family: var(--font-kemco);
  border: 2px solid var(--kuning);
  border-bottom: none;
  transition: 0.3s;
}

.tab-labels label:hover {
  background-color: var(--biru2);
}

#tab-pesanan:checked ~ .tab-labels label[for="tab-pesanan"],
#tab-saldo:checked ~ .tab-labels label[for="tab-saldo"] {
  background-color: var(--biru2);
  color: var(--kuning);
  font-weight: bold;
}

.tab-content .content {
  display: none;
  background-color: var(--biru2);
  padding: 20px;
  border: 2px solid var(--kuning);
  border-radius: 0 0 10px 10px;
}

#tab-pesanan:checked ~ .tab-content .content-pesanan {
  display: block;
}

#tab-saldo:checked ~ .tab-content .content-saldo {
  display: block;
}

.table {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.row {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var(--putih);
  align-items: center;
}

.row.header {
  font-weight: bold;
  background-color: var(--biru3);
}

.row div {
  flex: 1;
  padding: 5px;
}

.row div:last-child {
  border-bottom: none;
}

/* Tombol Detail */
.detail {
  padding: 6px 12px;
  background-color: var(--kuning);
  color: var(--biru3);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: none;
}

.detail:hover {
  background-color: #cddb2f;
}

/* Footer */
footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9em;
  color: var(--putih);
}
