/* * {
  margin: 0;
  padding: 0;
} */

/* #popUp body {
  background: transparent;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
} */

#popUp main {
  all: unset;
}
#popUp section {
  position: relative;
  overflow: hidden;
  width: 25rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--biru3);
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 15px;
  box-shadow: 5px 5px 10px var(--biru3), -5px -5px 10px var(--biru3);
}
#popUp .judul {
  font-family: var(--font-kemco);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--biru1);
  color: var(--putih);
  text-shadow: 3px 3px 1px var(--biru3);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.3rem 0;
  font-size: 22px;
  font-weight: 900;
  border-bottom: 3px dashed var(--biru3);
}
#popUp .isi {
  margin-top: 2.5rem;
}
#popUp .disclaimer {
  /* margin: 1rem 0; */
  font-family: var(--font-pixel);
  margin-bottom: 0.5rem;
  color: var(--putih);
}
#popUp .disclaimer i {
  color: var(--merah);
}
#popUp .informasi {
  padding: 1rem;
  border-radius: 10px;
  border: 3px dashed var(--biru1);
}
#popUp .informasi p:first-child {
  margin: 0;
}
#popUp .informasi p {
  color: var(--biru1);
  margin: 1rem 0 0 0;
  font-family: var(--font-kemco);
  display: flex;
  gap: 0.5rem;
  font-weight: 700;
}
#popUp .informasi p span {
  display: flex;
  flex-grow: 1;
  border-top: 4px groove var(--biru2);
  margin-top: 0.5rem;
}
#popUp table {
  color: var(--putih);
  font-family: var(--font-pixel);
  width: 100%;
  border-collapse: collapse;
}
#popUp td {
  padding: 5px 0;
}
#popUp table td:first-child {
  text-align: left;
}
#popUp table td:last-child {
  text-align: right;
}
#popUp .tombol {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  text-align: center;
}
#popUp button {
  all: unset;
  background-color: var(--biru2);
  color: var(--putih);
  text-shadow: 1px 1px 1px var(--biru3);
  padding: 1rem;
  font-size: 13px;
  font-family: var(--font-kemco);
  cursor: pointer;
  transition: 0.5s ease;
}
#popUp .cancel {
  border-radius: 5px;
  width: 10rem;
}
#popUp .cancel:hover {
  background-color: var(--merah);
}
#popUp .payNow {
  border-radius: 5px;
  width: 10rem;
}
#popUp .payNow:hover {
  background-color: var(--biru1);
}
