

body {
  margin: 0;
  font-family: var(--font-kemco);
  background-color: var(--biru1);
  color: var(--putih);
}

.container {
  max-width: 400px;
  margin: 60px auto;
  background: var(--biru2);
  border: 3px solid var(--kuning);
  border-radius: 20px;
  padding: 30px 20px;
  text-align: center;
}

.title {
  font-size: 28px;
  margin-bottom: 30px;
  color: var(--kuning);
  font-family: var(--font-kemco);
}

.saldo-box {
  background-color: var(--biru3);
  padding: 20px;
  border-radius: 15px;
  box-shadow: inset 0 0 10px var(--hitam);
  margin-bottom: 25px;
}

.saldo-box p {
  margin: 0;
  font-size: 16px;;
}

.saldo {
  font-size: 32px;
  margin-top: 10px;
  color: var(--hijau1);
  font-family: var(--font-kemco);
}

.topup-form label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  font-family: var(--font-poppins);
}

input {
  width: 95%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: var(--biru4);
  color: var(--putih);
  font-family: var(--font-depixelklein);
}


button.btn,
a.btn {
  background-color: var(--kuning);
  border: none;
  padding: 12px 25px;
  color: var(--hitam);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
  font-family: var(--font-pixel);
}
