body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #70c5ce;
}

.game-container {
    position: relative;
    width: 400px;
    height: 600px;
    overflow: hidden;
    background-image: url('pixil-frame-0.png') ;
    border: 2px solid #000;
}

.bird {
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url('_con (2).gif');
    background-size: contain;
    border-radius: 50%;
    left: 50px;
}

.pipe {
    position: absolute;
    width: 60px;
    background-color: green;
    border: solid;
    border-color: #000;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
}

#restart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}